/* -------- CONTACT PAGE----------*/

:root{
  --D-BLUE: #07335D;
  --M-BLUE: #2699FB;
  --L-BLUE: #BCE0FD;
  --D-grey: #2C3A47;
  --L-grey: #efefef;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 70% 15%;
  background-color: #efefef;
  height: 100vh;
  background-size: cover;
}

.form {
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: right;
  margin: 5%;
  padding: 1em;
  background-color: var(--L-grey);
}

.form input {
  padding: 10px;
  width: 100%;
  border: solid 2px;
  border-color: var(--L-BLUE);
}

.form input:focus {
  outline: none;
}

.form .text {
  height: 5em;
}

#submit {
  display: flex;
  color: #fff;
  background-color: var(--M-BLUE);
  max-width: 50%;
  font-family: 'hind';
  font-weight: 400;
  font-size: 120%;
  font-weight: 400;
  text-align: center;
  border-radius: 0.5em;
  border-color: white;
  padding: 0.3em;
  letter-spacing: 0.2em;
  justify-self: center;
  justify-content: center;
  
}

#submit:hover {
  background-color: var(--D-BLUE);
  transform: scale(110%);
}

/* .call input #submit {
  flex-direction: row;
  justify-content: center;
} */


textarea {
  padding: 1em;
  border: solid 2px;
  border-color: var(--L-BLUE);
  
}

textarea:focus {
  outline: none;
}

.call h1 {
  font-size: 240%;
  padding: 3%;
  margin-bottom: 20px;
  margin-top: 0px;
}

.call p {
  font-size: 130%;
  margin: 0 1em 1em 0;
}

.call {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 5% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: right;
  padding: 1em;
  font-size: 120%;
  font-weight: 500;
}

/* change moile nav color to black */

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #000;
}