 html {
  background-color: var(--CREAM);
}

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #000;
}

#history {
  background-color: var(--CREAM);
  background-size: cover; 
  display: grid;
  grid-template-columns: 32.5% 35% 32.5%;
  grid-template-rows: 15% 70% 15%;
  height: 100vh;
}

h2 {
  margin: 0;
  font-size: 240%;
}

.history-container {
  grid-row-start: 2;
}

.history {
  padding: 1em 1em;
}

.ganesh {
  margin: 0;
  padding: 0em 2em;
  width: 100%;
  height: auto;
}

.objectives-container {
  grid-row-start: 2;
  grid-column-start: 2;

}

.obj-p {
  margin-bottom: 0.75em;
  padding: 1em 2em 0;
}

.objectives {
  list-style: none;
  padding: 0 2em 2em 2em;
  font-weight: 500;
}

/* .objectives li {
  padding-bottom: 0.2em;
} */

.obj {
  grid-row-start: 2;
  grid-column-start: 3;
  width: 100%;
  height: auto;
  padding: 1.6em;
  align-self: center;
  margin-top: 15px;
}

footer {
  overflow: hidden;
}

/* ============== */
/* MEDIAS SESSION */
/* ============== */

@media (max-width: 1200px) {
  
  #history {
    grid-template-columns: 1fr 2fr;
    }
  
  .history {
    padding: 2em;
  }
  
  .objectives {
    list-style: none;
    font-weight: 500;
  }
  
  .objectives li {
    padding-bottom: 0.75em;
  
  }
  
  .ganesh {
    display: none;
  }
  
  .obj-p {
    padding: 2em 2em 0.3em;
  }
  
  .obj {
    display: none;
  }
}

@media (max-width: 1000px) {
  #history {
    grid-template-columns: 1fr 2fr;
    }
  
    .obj {
      display: none;
    }
  
    .obj-p {
      margin-bottom: 0.75em;
      padding: 2em 3em 0;
    }
    
    .objectives {
      list-style: none;
      padding: 0 2em 0em 2em;
      font-weight: 500;
    }
    
    .objectives li {
      padding-bottom: 0.75em;
      padding: 1em 1em 0;
    }

    .history {
      margin-bottom: 0.75em;
      padding: 2em 2em 0;
    }
  }

@media (max-width: 767px) { 
  
  #history {
    grid-template-columns: 100%;
    display: block;
  }

  .history-container {
    padding-top: 100px;
  }

  .mission-container {
    padding-top: 120px;
  }

  .ambition-container {
    font-size: 100%;
  }
  
  .temple-day {
    display: none;
  }
  
  .ganesh {
    display: none;
  }
  
}


@media (max-height: 810px) {

  .obj {
    align-self: flex-start;
    
  }

  footer {
    grid-row-start: 4;
    /* display: none; */
  }

  .history {
    padding: 2em 2em 0;
  }

  .ganesh {
    margin: 1%;
    width: 100%;
    height: auto;
  }

  .obj-p {
    margin-bottom: 0.75em;
    padding: 1em 2em 0;
  }

  .objectives-container {
    font-size: 100%;
    padding-top: 10px;
  }

}


@media (max-width: 479px) {

  .history-container {
    padding-top: 100px;
  }

  .objectives {
    padding: 1em 1em 0;
  }

  .obj-p {
    margin-bottom: 0em;
    padding: 1em 2em 0;
  }

  .objectives-container {
    margin-top: 20px;
  }

  .history {
    padding-top: 15px;
  }

}

