@media (max-width: 768px) { /* arbitrary breakpoint, around the size of a tablet */
    .nav {
      /* first, make our dropdown cover the screen */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      /* fix nav height on mobile safari, where 100vh is a little off */
      height: -webkit-fill-available;
  
      /* then, arrange our links top to bottom */
      display: flex;
      flex-direction: column;
      /* center links vertically, push to the right horizontally.
         this means our links will line up with the rightward hamburger button */
      justify-content: center;
      align-items: flex-end;
  
      /* add margins and padding to taste */
      margin: 0;
      padding-left: 7vw;
      padding-right: 7vw;
  
      background: black;
    }
  }

  @media (min-width: 1200px) {
    .main-nav {
        margin: auto;
        padding-right: 15%;
    }

    .intro > h1{
        font-size: 4em;
    }

    .logo {
        padding-left: 15%;
    }
  }

  @media (min-width: 1600px) {
    .intro > h1{
        font-size: 5em;
    }
    .logo {
        padding-left: 22%;
    }

    .main-nav {
        margin: auto;
        padding-right: 22%;
    }

  }

  @media (max-width: 540px) {
    .main-nav {
      display: none;
    }
    
    .logo {
      display: none;
    }

    #logo-mob {
      position: absolute;
    }

    .logo-mob {
      display: block;
      
    }


  }