@media (max-width: 768px) { /* arbitrary breakpoint, around the size of a tablet */
   
    .nav {
      /* first, make our dropdown cover the screen */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      /* fix nav height on mobile safari, where 100vh is a little off */
      height: -webkit-fill-available;
  
      /* then, arrange our links top to bottom */
      display: flex;
      flex-direction: column;
      /* center links vertically, push to the right horizontally.
         this means our links will line up with the rightward hamburger button */
      justify-content: center;
      align-items: flex-end;
  
      /* add margins and padding to taste */
      margin: 0;
      padding-left: 7vw;
      padding-right: 7vw;
  
      background: black;
    }

    .section-history {
      grid-template-columns: 1fr;
      gap: 4%;
      padding: 3%;
      font-size: 100%;
    }

    .obj {
      display: none;
    }

    .section-mission {
      display: grid;
      grid-template-columns: 1fr;
    }
    
    .ganesh {
      display: none;
    }

  
  }

  @media (max-width: 800px) {
    /* .main-nav{
      display: none;
    } */

    .obj {
      display: none;
    }

    .section-mission {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .temple-day {
      display: none;
    }

   

  }



  @media (min-width: 1200px) {
    .main-nav {
        margin: auto;
        padding-right: 13%;
    }

    .intro > h1{
        font-size: 4em;
    }



    .section-history {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3%;
      padding: 3%;
    }
    
    .obj {
      display: flex;
    }

    .logo {
      padding-left: 6%;
  }

  }

  @media (max-width: 1200px) {
    .obj {
      display: none;
    }



  }

  @media (min-width: 1600px) {
    .intro > h1{
        font-size: 5em;
    }

    .logo {
        padding-left: 10%;
    }

    .main-nav {
        margin: auto;
        padding-right: 20%;
    }


  }

  @media (max-width: 480px) {
    .main-nav {
      display: none;
    }
    
    .logo {
      display: none;
    }

    #logo-mob {
      position: absolute;
    }

    .logo-mob {
      display: block;
      
    }

    .section-history {
      display: grid;
      grid-template-columns: 1fr;
      gap: 4%;
      padding: 3%;
      justify-items: center;
      height: fit-content;
      width: 100%;
    
    }

    .section-mission {
      display: grid;
      grid-template-columns: 1fr;
    }    


  }