@media (max-width: 479px) {
  
  #welcome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/woman_lighting_candles.jpg);
    padding-bottom: 1em;
  }
  
  .intro {
    padding-bottom: 0px;
  }

  .intro > h1 {
    margin-bottom: 0.5em;
  }

  .long-copy {
    width: 90%;
  }
  
  .logo {
    display: flex;
  }
  
  footer {
    display: none;
  }

}

@media (max-height: 479px) {

  .intro > h1 {
    margin-bottom: 0.5em;
  }

  footer {
    display: none;
  }

}



@media (max-width: 767px) { /* arbitrary breakpoint, around the size of a tablet */
  #welcome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/woman_lighting_candles_mobile.jpg);
    padding-bottom: 3em;
  }
  
  .main-nav { 
    /* float: right; */
    margin-top: 0;
    margin-right: 4em;
    padding: 0%;
    display: block;
  }
  
  .main-nav{ display: none; }
  
  .main-nav a {
    display: block;
  }
  
  .btn-blue {
    width: 200px;
    margin: 0px;
    text-align: center;
  }
  
  .about-btn:hover .about-content {
    display: none;
  }
  
  .events-btn:hover .events-content {
    display: none;
  }
  
  .main-nav div a:link,
  .main-nav div a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
  
  .mobile-nav-icon { 
    display: inline-block;
    margin-right: 8%;
  }
  
  .about-btn {
    margin-top: 0.5em;
  }
  
  .events-btn {
    margin-top: 0.5em;
  }
  
  .news-btn {
    margin-top: 0.5em;
  }
  
  .links-btn {
    margin-top: 0.5em;
  }
  
  .patrons-btn {
    margin-top: 0.5em;
  }
  
  .contact-btn {
    margin-top: 0.5em;
  }
  
  .intro p {
    font-size: 1em;
  }
  
  .intro div {
    width: 100%;
  }
  
  .read {
    width: 90%;
  }
  
  .logo {
    position: fixed;
  }


  footer {
    display: none;
  }

}

  @media (max-width: 850px) {

    .long-copy {
      font-size: 110%;
    }

    footer {
      display: none;
    }

  }

  @media (min-width: 1199px) {

    .main-nav {
        margin: auto;
        /* padding-right: 13%; */
    }

    .intro > h1{
        font-size: 4em;
    }

    .read {
      padding-bottom: 7em;
    }

  }

  @media (min-width: 1600px) {

    .intro > h1{
        font-size: 5em;
    }

  }