/* --------------------------------*/
/* BASIC SETUP */
/*---------------------------------*/

:root{
  --HL: #3b1855;
  --HL-hover: #7d2a99;
  --D-grey: #2C3A47;
  --L-grey: #CAD3C8;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  
}

/* *{
  outline: 1px solid red;
 } */

body {
  /* background-color: #fff; */
  /* color: #fff; */
  font-family: "Hind", "Arial", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    /* display: block; */
    height: 0;
    visibility: hidden;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* 
  font-family: 'Hind', sans-serif;
  font-family: 'Macondo', cursive;
  font-family: 'Macondo Swash Caps', cursive; */

/* ----- HEADINGS ----- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  /* color: rgb(255, 255, 255); */
  margin-top: 20%;
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 240%;
  padding-bottom: 0.6em;
  word-spacing: 4%;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-bottom: 1em;
  text-transform: capitalize;
}

h2 {
  /* color: rgb(255, 255, 255); */
  font-family: 'Macondo', cursive;
  font-size: 180%;
  text-transform: capitalize;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 0.15em;
  
}

h3 {
  font-size: 110%;
  margin-bottom: 15%;
}

p {
  font-family: 'Hind', sans-serif;
}


/* --------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------*/

/* .row {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  padding: 60px 0;
}

.box {
  padding: 3%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
} */



/* --------------------------------*/
/* ---------- HEADER ------ */
/*---------------------------------*/

.header {
  display: flex;
  z-index: 0;
  align-items: center;
  
}

button {
  text-decoration-style: none;
}

/* #menu {
  position: relative;
}

nav {
  height: 100vh;
} */

/* --------------------------------*/
/* ---------- NAV ---------------- */
/*---------------------------------*/

nav {
  display: block;
  margin: auto !important;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Hind", "Arial", sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  position: absolute;
  z-index: 20;
  width: 100%;
  padding-bottom: 1em;
  
}

.main-nav {
  float: right;
  display: flex;
  flex-wrap: wrap;
  place-content: right;
  margin-top: 1em;
  text-decoration: none;
  padding-right: 2em;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  position: relative;
  
}

.main-nav div a:link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.about-btn {
  position: relative;
  display: inline-block;
  margin-top: 1.5em;
}

.about-content {
  display: none;
  position: absolute;
  z-index: 1;
  
}

.about-content a {
  display: block;
  min-width: max-content;
  padding: 5px 15px;
  margin-top: 5px;
  
}

/* .js--main-nav {
  display: inline-block;
} */

.about-btn:hover .about-content {
  display: block;
  margin-top: 10px;
}

.news-btn {
  margin-top: 1.5em;
}

.events-btn {
  position: relative;
  display: inline-block;
  margin-top: 1.5em;
}

.events-content a {
  display: block;
  min-width: max-content;
  padding: 5px 15px;
  margin-top: 5px;
}

.events-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.events-btn:hover .events-content {
  display: block;
  margin-top: 10px;
}

.events-btn:active .events-content {
  display: block;
  margin-top: 10px;
}

.links-btn {
  margin-top: 1.5em;
}

.patrons-btn {
  margin-top: 1.5em;
}

.contact-btn {
  margin-top: 1.5em;
}

.logo {
  float: left;
  display: flex;
  fill: #fff;
  transform: none;
  position: static;
  padding: 1em;
  margin-right: auto;
}

/*  Mobile Nav */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* -------------BUTTONS --------------*/

.btn-blue {
  margin-top: 0.5em;
  margin-left: 6px;
  padding: 4px 12px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 0.5em;
}

.btn:link,
.btn:visited,
input[type=submit] {
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-blue:link,
.btn-blue:visited,
input[type=submit] {
    background-color: #0c3964;
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #1176e9;
}



/* .btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
} */


/* --------------------------------*/
/* ---------- LANDING PAGE ------- */
/*---------------------------------*/

#welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/woman_lighting_candles.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-attachment: fixed;
  position: static;
  z-index: -1;
  width: 100vw;
  padding-bottom: 8em;
  padding-top: 30em;
}

/* .banner {
  position: initial;
} */

.long-copy {
  display: inline-block;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 120%;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  width: 70%;
  max-width: 70em;
  padding-bottom: 1em;
  position: relative;
}


.intro {
  color: floralwhite;
  padding-bottom: 1em;
  position: relative;
  z-index: auto;
  
}

.intro > h1 {
  padding-bottom: 0px;
}

.intro a{
  position: relative;
  z-index: 5;
}

.read a{
  color: rgb(253, 213, 160);
  font-family: "Hind", "Arial", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: right;
  width: 70%;
  padding: 1px;
  margin-bottom: 2em;
  position: relative;
  z-index: 1; 
}

/* SECTION HISTORY */

/* #history {
  
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  position: static;
  z-index: -1;
  width: 100vw;
} */


#history {
  background-color: #F3EFE4;
  background-size: cover;
  width: 100vw;
  height: fit-content;
  font-family: 'Hind', sans-serif;
  font-size: 105%;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-bottom: 1em;
}

.section-history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4%;
  padding: 3%;
  justify-items: center;
  width: 100%;
  color: black;

}

.history{
  margin-bottom: 1em;
  padding: 0 2em;
  }

.history p{
  margin: 2%;
  padding-left: 2%;
  margin-bottom: 1em;
}

.obj-p {
  margin: 2%;
  /* padding-left: 2%; */
  margin-bottom: 0.75em;
  padding: 0 1em;
}

.objectives {
  list-style: none;
  padding: 0 2em 2em 2em;
}

.objectives li {
  padding-bottom: 0.75em;
  /* padding: 0 1em; */
}

img.ganesh {
  margin: 1%;
  min-width: 1fr;
  align-self: center stretch;
  justify-self: center stretch;
  width: 100%;
}

img.obj {
  padding-top: 3em;
  align-self: center stretch;
  justify-self: center stretch;
}

.obj {
  width: 100%;
  padding-top: 0em;
  align-content: center;
}

/* SECTION MISSION AMBITION */

#mission-ambition {
  background-color: #E8E8E8;
  background-size: cover;
  
}

.section-mission {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4%;
  padding: 3%;
  justify-items: center;
  width: 100%;
}

.temple-ceiling {
  width: 100%;
}

.temple-day {
  width: 100%;
}

.mission {
  gap: 4%;
  padding: 3%;
  justify-items: center;
  height: fit-content;
  width: 100%;
}

.ambition {
  gap: 4%;
  padding: 3%;
  justify-items: center;
  height: fit-content;
  width: 100%;
}

/*----- LINKS ----*/

a:link,
a:visited {
    /* color: #fff; */
    text-decoration: none;
    z-index: 100;
    position: relative;
    /* z-index: auto; */

}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
    position: relative;
    z-index: auto;
    
}


.read a:link,
      a:visited {
        color: rgb(253, 213, 160);
        position: relative;
        z-index: auto;
      
      }

.read a:hover {
  color: #908856;
  position: relative;
  z-index: auto;
 
}

/* -------- CONTACT PAGE----------*/

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 70% 15%;
  background-color: #efefef;
  height: 100vh;
  background-size: cover;
}

.form {
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  justify-self: right;
  margin: 5%;
  padding: 1em;
  
}

.form input {
  padding: 10px;
}

.form .text {
  height: 5em;
}

.call h1 {
  text-align: left;
}

.call p {
  font-size: 130%;
  margin-bottom: 0.5em;
  padding-top: 14%;
}

.call {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: left;
  font-size: 120%;
  font-weight: 500;
}

#submit {
  color: #fff;
  background-color: #003b88;
  max-width: 50%;
  font-family: 'hind';
  font-size: 120%;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.5em;
  padding: 0.3em;
  letter-spacing: 0.2em;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 1em;
}

.submit-btn {
  /* padding: 2em; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}

textarea {
  padding: 1em;
}

/* ----------FOOTER-----------*/

footer {
  color: #fff;
  background-color: black;
  font-family: 'Hind', sans-serif;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* width: 100vw; */
  flex-direction: row;
  align-items: top;
  padding-top: 1.2em;
  justify-items: center;
}

footer p {
  line-height: 1.35em;
}

/* .footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1em;
  text-decoration: none;
}

.footer-nav a {
  color: #fff;
}

.footer-nav-btn {
  background-color: var(--HL);
  padding: 0.3em 0.7em;
  border-radius: .3em;
}

.footer-nav a:hover {
  color: #888;
  background-color: var(--HL-hover);
  /* font-size: 1.1em; */
  /* text-decoration-line: underline; */
}

.copyright {
  color: #fff;
  text-align: center;
} */


